[submodule "Engine/Hazel/vendor/spdlog"]
	path = Engine/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/Hazel/vendor/GLFW"]
	path = Engine/Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw/
[submodule "Engine/Hazel/vendor/imgui"]
	path = Engine/Hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Engine/Hazel/vendor/glm"]
	path = Engine/Hazel/vendor/glm
	url = https://github.com/g-truc/glm
