[submodule "Engine/Hazel/vendor/spdlog"]
	path = Engine/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/Hazel/vendor/GLFW"]
	path = Engine/Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw/
